{
	"PFSENSE_HOST": "192.168.0.1",
	"SUBNET": "192.168.0",
	"BLACKLIST": "192.168.0.1,192.168.0.2",

	"ARP_EXE": "/usr/sbin/arp",
	"IFCONFIG_EXE": "/sbin/ifconfig",

	"G_SHEET_KEY": "<your google spreadsheet document key>",

	"FAUXAPI_APIKEY": "<your api key>",
	"FAUXAPI_APISECRET": "<your api secret>"
}